@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

#logo {
  font-family: 'Great Vibes', cursive;
  height: 50px;
  margin: 10px;
  font-size: 2rem;
}

header {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
}

nav {
  height: 69px;
}

.navItem {
  display: inline-flex;
  justify-content: space-around;
}

a {
}
